/* PRE FOOTER */
.preFooter {
	background: var(--color-secondary);
	width: 100%;
	text-align: center;
	padding-top: 30px;
    padding-bottom: 30px;
}

.preFooter .content {
	max-width: 540px;
	margin: auto;
	padding-top: 32px;
	padding-bottom: 32px;
}

.preFooter .content div {
	display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);
}

.preFooterCTA {
	font-size: 1rem;
	color: var(--color-primary);
	padding: 5px;
	text-decoration: underline;
    text-underline-offset: 2px;
}

.preFooterIcon {
	font-size: 53.59px;
} 

@media screen and(max-width:768px) {
	.preFooterCTA {
		font-size: 0.875rem;
	}
}

@media screen and (max-width: 425px) {
	.preFooter .content h4 {
		padding: 0 20px;
	}

	.preFooter .content a {
		font-size: 0.875rem;
		text-decoration: underline;
		text-underline-offset: 2px;
	}
}